In [6]:
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
# load dataset
df1 = pd.read_csv('FB_data.csv')
pd.core.frame.DataFrame

pandas.core.frame.DataFrame

In [16]:
pd.set_option("display.max.columns", None)
df1.head(10)

         date   open   high    low    close    volume Name
0  2013-02-08  28.89  29.17  28.51  28.5450  37662614   FB
1  2013-02-11  28.61  28.68  28.04  28.2600  36979533   FB
2  2013-02-12  27.67  28.16  27.10  27.3700  93417215   FB
3  2013-02-13  27.36  28.32  27.31  27.9075  50100805   FB
4  2013-02-14  28.02  28.63  28.01  28.5000  35581045   FB
5  2013-02-15  28.52  28.75  28.09  28.3200  33061895   FB
6  2013-02-19  28.23  29.08  28.12  28.9300  49356691   FB
7  2013-02-20  28.92  29.05  28.33  28.4620  42046417   FB
8  2013-02-21  28.28  28.55  27.15  27.2830  49593513   FB
9  2013-02-22  27.62  27.63  26.82  27.1300  36299386   FB

In [9]:
%matplotlib

Using matplotlib backend: MacOSX

In [11]:
df1.plot(x="date",y=["open","high","close"])
plt.show()

In [12]:
# load dataset
df2 = pd.read_csv('Laptops_Dataframe.csv')
pd.core.frame.DataFrame

pandas.core.frame.DataFrame

In [17]:
pd.set_option("display.max.columns", None)
df2.head(10)

,brand,laptop_name,display_size,processor_type,graphics_card,disk_space,discount_price,old_price,ratings_5max
0,HP,Notebook 14-df0008nx,14.00,Intel Celeron N4000,Intel HD Graphics 600,64 GB (eMMC),1259.0,1259.0,0 / 5
1,Lenovo,IdeaPad 330S-14IKB,14.00,Intel Core i5-8250U,Intel UHD Graphics 620,1 TB HDD,1849.0,2099.0,3.3 / 5
2,Huawei,MateBook D Volta,14.00,Intel Core i5-8250U,NVIDIA GeForce MX150 (2 GB),256 GB SSD,2999.0,3799.0,0 / 5
3,Dell,Inspiron 15 3567,15.60,Intel Core i3-7020U,Intel HD Graphics 620,1 TB HDD,1849.0,1849.0,0 / 5
4,Asus,VivoBook 15 X510UR,15.60,Intel Core i7-8550U,NVIDIA GeForce 930MX (2 GB),1 TB HDD,2499.0,3149.0,0 / 5
5,Dell,Vostro 5471,14.00,Intel Core i7-8550U,AMD Radeon 530 (4 GB),128 GB SSD/1 TB HDD,3799.0,3799.0,3.8 / 5
6,Apple,MacBook Air (Retina),13.30,Intel Core i5 Dual Core,Intel UHD Graphics 617,128 GB (PCIe SSD),4649.0,5199.0,4.0 / 5
7,Huawei,MateBook D,15.60,Intel Core i5-8250U,NVIDIA GeForce MX150 (2 GB),128 GB SSD/1 TB HDD,2449.0,2799.0,4.4 / 5
8,Huawei,MateBook X Pro,13.88,Intel Core i5-8250U,NVIDIA GeForce MX150 (2 GB),256 GB NVMe M.2 SSD,4999.0,5999.0,0 / 5
9,HP,14-cf0007nx,14.00,Intel Core i5-8250U,AMD Radeon 530 (2 GB),16 GB (Optane)/1 TB HDD,2629.0,2629.0,0 / 5

In [15]:
df2.plot(x="brand",y=["discount_price"])
plt.show()